<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<body class="bg-gray-900 text-white">

    <!-- Navbar -->
    <%- include('../../views/partials/admin/navbar')%>

        <div class="flex">
            <!-- Sidebar -->
            <%- include('../../views/partials/admin/sidebar')%>

                <div class="container mx-auto p-4 md:p-6 w-full">
                    <div class="flex flex-col md:flex-row justify-between items-center mb-4 gap-4">
                        <h1 class="text-2xl font-bold">Orders</h1>

                    </div>
                    <div class="mb-4 w-2/6 flex gap-4">
                        <form action="/admin/orders" method="get" class="relative">
                            <input type="text" id="search" name="search" value="<%= search %>" placeholder="Search orders..."
                                class="w-full p-2 pr-10 rounded-md text-black outline-none">
                            <button type="submit"
                                class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>                        
                        <form action="/admin/orders">
                            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
                                Clear
                            </button>
                        </form>
                    </div>

                    <div class="bg-gray-800 shadow-md rounded-lg overflow-hidden">
                        <div class="overflow-x-auto">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead class="bg-gray-800">
                                    <tr>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            USER NAME</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            ORDER ID</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            AMOUNT</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            ORDER DATE</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            STATUS</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            Payment Method</th>
                                        <th scope="col"
                                            class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                            ACTION</th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-700 divide-y divide-gray-200">
                                    <% orders.forEach(order=> { %>
                                        <tr class="hover:bg-slate-500">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                                                <%= order.user.firstname %>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
                                                <%= order.orderId %>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
                                                <%= order.finalAmount %>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-white">
                                                <%= new Date(order.invoiceDate).toLocaleDateString('en-GB') %>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full 
                                                  <%= 
                                                    order.status === 'Pending' ? 'bg-yellow-100 text-yellow-800' :
                                                    order.status === 'Processing' ? 'bg-indigo-100 text-indigo-800' :
                                                    order.status === 'Shipped' ? 'bg-blue-100 text-blue-800' :
                                                    order.status === 'Delivered' ? 'bg-green-100 text-green-800' :
                                                    order.status === 'Cancelled' ? 'bg-red-100 text-red-800' :
                                                    order.status === 'Return Rejected' ? 'bg-red-100 text-red-800' :
                                                    order.status === 'Return Request' ? 'bg-orange-100 text-orange-800' :
                                                    order.status === 'Returned' ? 'bg-purple-100 text-purple-800' :
                                                    'bg-gray-100 text-gray-800' // default
                                                  %>">
                                                  <%= order.status %>
                                                </span>
                                              </td>
                                              
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-white">Cash on
                                                Delivery</td>

                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                               <a href="/admin/order-admin-details?orderId=<%=order.orderId%>"> <button
                                                    class="bg-blue-600 text-white px-4 py-1 rounded-md hover:bg-blue-700 transition duration-200">
                                                    View
                                                </button></a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p class="mb-2">Page <%= currentPage %> of <%= totalPages %></p>
                        <div class="flex flex-wrap justify-center gap-2">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <a href="/admin/orders?page=<%= i %>&search=<%= search %>"
                                   class="px-3 py-1 rounded-md <%= currentPage === i ? 'bg-purple-500 text-white' : 'bg-gray-700 text-white hover:bg-gray-600' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    </div>                    
                    
                </div>
        </div>
</body>

</html>