<%- include('../../views/partials/user/header')%>
    <script src="https://cdn.tailwindcss.com"></script>

    <body class="bg-[#1F1F1F] text-white">
        <div class="flex flex-col md:flex-row min-h-screen p-4 md:p-0">
            <div class="w-full md:w-1/4 bg-black p-6 m-4 rounded-xl flex flex-col md:h-screen">
                <h2 class="text-lg font-bold mb-4">SETTINGS</h2>
                <ul>
                    <li class="mb-2 text-gray-400"><a href="/profile">Personal Info</a></li>
                    <li class="mb-2 text-gray-400 hover:text-white">Orders</li>
                    <li class="mb-2  text-[#88903F] hover:text-white"><a href="/address">Address</a></li>
                    <li class="mb-2 text-gray-400 hover:text-white">Wallet</li>
                    <% if (!userDatas || Object.keys(userDatas).length===0) { %>
                        <button class="mt-10 bg-orange-500 w-full py-2  rounded"><a href="/login">Login</a></button>
                        <% } %>
                </ul>
                <% if (userDatas && Object.keys(userDatas).length> 0) { %>
                    <button class="bg-orange-500 w-full py-2 mt-auto rounded"><a href="/logout">Logout</a></button>
                    <% } %>
            </div>
            <div class="flex-1 flex justify-center p-4 md:p-10">
                <div class="w-full max-w-3xl bg-[#1F1F1F] p-6 rounded-lg border border-gray-700">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="text-xl font-bold">EDIT ADDRESS</h2>
                    </div>
                    <form action="/edit-address?id=<%= addressDocs.address[0]._id %>" method="POST"
                        class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <input type="hidden" name="_method" value="PATCH">
                        <div>
                            <label class="block text-gray-300 mb-1">Name</label>
                            <input type="text" name="name" value="<%= addressDocs.address[0].name %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your name">
                        </div>
                        <div>
                            <label class="block text-gray-300 mb-1">State</label>
                            <input type="text" name="state" value="<%= addressDocs.address[0].state %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your state">
                        </div>
                        <div>
                            <label class="block text-gray-300 mb-1">Country</label>
                            <input type="text" name="country" value="<%= addressDocs.address[0].country%>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your country">
                        </div>
                        <div>
                            <label class="block text-gray-300 mb-1">Town / City</label>
                            <input type="text" name="city" value="<%= addressDocs.address[0].city %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your town/city">
                        </div>
                        <div class="md:col-span-2">
                            <label class="block text-gray-300 mb-1">Street Address</label>
                            <input type="text" name="landMark" placeholder="House number and street name"
                                value="<%= addressDocs.address[0].landMark %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white">
                        </div>

                        <div>
                            <label class="block text-gray-300 mb-1">Postcode / ZIP *</label>
                            <input type="text" name="pincode" value="<%= addressDocs.address[0].pincode %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your postcode/ZIP">
                        </div>
                        <div>
                            <label class="block text-gray-300 mb-1">Phone</label>
                            <input type="text" name="phone" value="<%= addressDocs.address[0].phone %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your phone number">
                        </div>
                        <div>
                            <label class="block text-gray-300 mb-1">Alternative Phone</label>
                            <input type="text" name="altPhone" value="<%= addressDocs.address[0].altPhone %>"
                                class="w-full p-2 border border-gray-600 rounded bg-transparent text-white"
                                placeholder="Enter your alternative phone number">
                        </div>
                        <div class="md:col-span-2 flex justify-center mt-4">
                            <button type="submit" class="bg-yellow-500 text-black px-6 py-2 rounded-md font-semibold">
                                Edit Address
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </body>