<%- include('../../views/partials/user/header')%>
    <script src="https://cdn.tailwindcss.com"></script>

    <section class="bg-[#1F1F1F] py-12">
        <div class="container mx-auto text-center">
            <div class="w-16 h-[2px] bg-[#E8B888] mx-auto mb-2"></div>
            <h2 class="text-white text-2xl font-sans mb-10 relative inline-block">
                PRODUCTS
            </h2>

            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-6 mt-6  md:m-10">
                <% products.forEach(watch=> { %>
                    <div class="bg-[#2A2A2A] p-6 rounded-lg">
                        <a href="/productDetails?id=<%= watch._id %>">
                            <img src="<%= watch.productImage[0] %>" alt="<%=watch.productName%>"
                                class="mx-auto w-48 h-64 object-contain">
                        </a>
                        <h3 class="text-white text-lg font-semibold mt-4">
                            <%= watch.productName %>
                        </h3>
                        <p class="text-[#E8B888] text-xl font-semibold">$
                            <%= watch.regularPrice %>
                        </p>
                        <a href="/addtoCart?id=<%= watch._id %>">
                            <button class="bg-[#3A3A3A] text-white px-4 py-2 mt-4 w-full">ADD TO CART</button>
                        </a>
                    </div>
                    <% }) %>
            </div>
        </div>
    </section>











    <%- include('../../views/partials/user/footer')%>